h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
}

.page-navigation {
  width: 452px;
  display: flex;
  align-items: center;
  margin-right: 332px;
}

.header-logo-words {
  color: #2e2f42;
}
.header-navigation {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-navigation-menu {
  color: #2e2f42;
  width: 261px;
  padding: 24px 0;
}
.header-navigation-menu:hover,
.header-navigation-menu:focus {
  color: #404bbf;
}

.header-address {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.header-contact {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-contact:focus,
.header-contact:hover {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-people-office1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 188px 0;
}
.hero-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 48px;
}
button {
  cursor: pointer;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
  border: none;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.benefits-title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 8px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.benefits-list-column {
  width: calc((100% - 24px * 3) / 4);
}

.icon-container {
  display: block;
  border: 1px solid #111;
  padding: 24px 100px;
  border-radius: 4px;
  border-color: #8E8F99;
  background-color: #F4F4FD;
}

.benefits-list .benefits-list-column {
  flex-basis: calc();
}

.paragraph-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
}

.team-cards {
  background-color: #ffffff;
  width: calc((100% - 24px * 3) / 4);
  border-bottom: 1px;
  border-radius: 0px 0px 4px 4px;
}

.name-position {
  padding: 32px 0;
}

.team-names {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-positions {
  text-align: center;
  padding-bottom: 32px;
}

.portfolio-title {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-cards {
  width: calc((100% - 24px * 2) / 3);
  margin-bottom: 48px;
  border-bottom: 1px solid #e7e9fc;
  border-radius: 4px;
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-services {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-words {
  color: #f4f4fd;
}
.footer-paragraph-text {
  max-width: 264px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
